html {
    font-family: Graphik;
    color: #163020;
    background-color: #B6C4B6;
  }
     
  @media (max-width: 1320px) {
    .body {
      width: 100%;
    }
  }

  .main{
    background-size: cover;
    height: 850px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-bottom: #000 8px double;
  }
  
  
  .title {
    font-family: TiemposHeadlineWeb-Bold, Georgia, serif;
    text-transform: uppercase;
    color: wheat;
    text-align: center;
  }
  
  .subtitle {
    font-family: TiemposTextWeb-Regular;
  }
  
  .contacto {
    display: flex;
  }
  
  .button {
    background-color: #163020;
    color:bisque;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: TiemposHeadlineWeb-Regular, Georgia, serif;
    margin: 0px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;

    &:hover {
        background-color: #032b03c9;
        transform: scale(1.1);
        border: #163020 SOLID 3px;
        margin:0 px
    }
}

.refbot{
  height: 100px;
  margin: 20px;
}
