html {
    font-family: Graphik;
    color: #163020;
    background-color: #B6C4B6;
  }
     

  .main{
    background-size: cover;
    height: 850px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-bottom: #000 8px double;
  }
  
  
  .title {
    font-family: TiemposHeadlineWeb-Bold, Georgia, serif;
    text-transform: uppercase;
    color: wheat;
    text-align: center;
  }
  
  .subtitle {
    font-family: TiemposTextWeb-Regular;
  }
  
  .contacto {
    display: flex;
  }
  
  .button {
    background-color: #163020;
    color:bisque;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: TiemposHeadlineWeb-Regular, Georgia, serif;
    font-size: 20px;
    margin: 0px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    text-decoration: none;
    display: inline-block;
    width: 200px;
    height: 50px;
    text-align: center;

    &:hover {
        background-color: bisque;
        transform: scale(1.1);
        color:#163020;        
        border: #163020 1px solid;
        
        
       
        
    }
}

.refbot{
  height: 100px;
  margin: 20px;
}
