@font-face {
    font-family: Graphik;
    src: url(../assets/FONT/Graphik-Regular-Web.woff);
  }
  
  @font-face {
    font-family: TiemposTextWeb-Regular;
    src: url(../assets/FONT/TiemposTextWeb-Regular.woff2);
  }
  
  @font-face {
    font-family: TiemposHeadLineWeb-Bold;
    src: url(../assets/FONT/TiemposHeadlineWeb-Bold.woff2);
  }
  