.navbar {
    font-family: TiemposTextWeb-Regular;
    font-size: 25px;
    
  }
  
  .navbar-nav {
    display: flex;
    gap: 12px;
    
  }
  
  .img-nav {
    filter: invert(1);
    margin: -13px;
  }


  