.navbar {
    font-family: TiemposTextWeb-Regular;
    font-size: 25px;
    color: #eaf3ed;
  }
  
  .navbar-nav {
    display: flex;
    gap: 12px;
  }
  
  .img-nav {
    filter: invert(1);
    margin: -13px;
  }

.nav-link{
  
    background-color: rgb(248, 7, 7) 100%;

  }
  