.main-team {

  background: linear-gradient(90deg, rgba(2, 17, 7, 0.753) 35%, rgba(3, 22, 9, 0.027) 75%), url('../assets/IMAGENES/FOTO-IA2.webp');
  background-size: cover; 
  background-position: center;  
  background-blend-mode: multiply;
   
  }

  .team-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "a1 a2 " "a3 a4" "a5 a6";
    gap: 20px;
    height: auto;
    width: auto;
    padding: 25px;
    border-bottom: #000 8px double;
  }

  
  .box-team {
    background-color: #a1b3a2;
    border: 8px solid #304D30;
    height: 100%;
    width: 100%;
    padding: 20px;
  }
  
  .video {
    display: flex;
    align-items: center;
    justify-content: center;
  } 