.main-hero {
    
    background: linear-gradient(90deg, rgba(2, 17, 7, 0.753) 35%, rgba(3, 22, 9, 0.027) 75%), url("../assets/IMAGENES/FOTO-IA4.webp");
    background-size: cover; 
    background-position: center;  
    background-blend-mode: multiply;
}


.imagnes-certificaciones {
    border-bottom: #000 8px double;
    padding: 20px;
    margin: 30px;
}

.semititulo {
    font-size: 25px;
    border-bottom: #163020 solid;
    background-color: #d5d5d5;
    border-radius: 5px;
    font-family: TiemposHeadlineWeb-Bold, Georgia, serif;
    padding: 30px;
}

.carousel {
    overflow: hidden;
    width: 900px;
    height: 100%;
}



.beneficios-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 35px;
    margin-bottom: 50px;
    border-bottom: #000 8px double;
    padding-bottom: 5px;
}

.box {
    display: flex;
    flex-direction: column;
    background-color: #a1b3a2;
    color: #000;
    text-align: justify;
    border: 8px solid #304D30;
    height: 350 px;
    width: 100%;
    width: auto;
    justify-content: flex-start;
    padding: 20px;
    font-family: TiemposTextWeb-Regular;
    font-size: 100%;
}

.title-box {
    display: flex;
    justify-content: space-between;
    font-family: TiemposHeadlineWeb-Bold, Georgia, serif;
    font-size: 25px;
    color: #2a4e2a;
    border-bottom: 3px groove rgba(0, 0, 0, 0.363);
}

.texto-beneficios {
    margin-bottom: 20px;
    border-bottom: #000 8px double;
    padding-bottom: 5px;
}

.card-body {
    padding: 10px;
    margin: 3px;
}

.col-md-6 {
    background-color: rgb(198, 201, 194);
    border: rgb(44, 31, 12) 3px solid;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.card-title {
    font-size: 1.2rem;
    font-family: TiemposTextWeb-bold;
    text-align: center;
    text-transform: uppercase;
}

.card-text {
    font-family: TiemposTextWeb-Regular;
    text-align: justify;
    font-size: 0.9rem;
    padding: 2px;
}

.Testimonios-homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    margin: 10px;
  }
  
  .txt-test {
    font-family: TiemposTextWeb-Regular;
    text-align: justify;
    font-size: 16px;
    padding: 2px;
  }
  

  
  .art-tw {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-evenly;
    width: 100%;
  }
  
  .card-img-top {
    border: 0.5px solid black;
    border-radius: 2px;
  }
  
  .background-color {
    border: 1.2px solid #111;
    border-radius: 5px;
    background-color: rgba(248, 239, 210, 0.952);
  }