.main-jobs {
  background: linear-gradient(90deg, rgba(2, 17, 7, 0.753) 35%, rgba(3, 22, 9, 0.027) 75%), url("../assets/IMAGENES/FOTO-IA.webp");
  background-size: cover; 
  background-position: center;  
  background-blend-mode: multiply;
}

