.main-test {
  background: linear-gradient(90deg, rgba(2, 17, 7, 0.753) 35%, rgba(3, 22, 9, 0.027) 75%), url(../assets/IMAGENES/FOTO-IA3.webp);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}


.testimonial-card {


  .card-img-overlay {
    opacity: 0;
    transition: opacity 0.5s;

    h5 {
      margin-bottom: 10px;
      font-size: 2vw;
    }

    p {
      margin-bottom: 20px;
      font-size: 1.3vw;
    }
  }

  &:hover .card-img-overlay {
    opacity: 1;
  }

  .overlay-content {
    transform: translate(-50%, -50%);



    h5 {
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 20px;
    }

    small {
      display: block;

    }
  }
}