.main-test {
    background: linear-gradient(rgba(16, 223, 85, 0.219), rgba(60, 78, 66, 0.295) 90%), url(../assets/IMAGENES/FOTO-IA3.webp);
  background-size: cover; 
  background-position: center;  
  background-blend-mode: multiply;
}


.testimonial-card {
  // position: relative;

  .card-img-overlay {
    opacity: 0;
    transition: opacity 0.5s;
  }

  &:hover .card-img-overlay {
    opacity: 1;
  }

  .overlay-content {
    transform: translate(-50%, -50%);

    h5 {
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 20px;
    }

    small {
      display: block;
      font-size: 12px;
    }
  }
}